@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,400&display=swap'); 

// VARIABLAT //
$primary-color: rgb(90, 89, 89);
$font:  'Open Sans', sans-serif;

body {color: $primary-color;
      font-family: $font;}


    
// OPERATORET //
$container: 960px;

.container {width: $container + 4px + 40px;
            border: 2px solid rgb(243, 113, 113); /* 2+2=4 px */
            padding: 0px 20px; /* 20+20=40 */
            background-color: aquamarine;}

.half {width: $container / 2;
       background-color: rgb(99, 251, 201);
       padding: 10px 20px;}

       .half {width: $container / 2;
            background-color: rgb(99, 251, 201);
            padding: 10px 20px;}

header { img {} 
      nav { background-color: rgb(251, 238, 222);
            ul {
                padding: 10px 50px;
                margin: 0;
                display: flex;
                justify-content: space-around; 
                list-style-type: none;  
            }
            li {font-style: italic;}
             a {font-size: 20px;
                color: black;
                transition: all 0.5s ease-in;
                &:hover  {background-color: rgb(99, 251, 201);}
                }

             a:hover {}
      }}