@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,400&display=swap'); 

// VARIABLAT //
$primary-color: rgb(90, 89, 89);
$font:  'Open Sans', sans-serif;

body {color: $primary-color;
      font-family: $font;}


    
// OPERATORET //
$container: 960px;

.container {width: $container + 4px + 40px;
            border: 2px solid rgb(243, 113, 113); /* 2+2=4 px */
            padding: 0px 20px; /* 20+20=40 */
            background-color: aquamarine;}

.half {width: $container / 2;
       background-color: rgb(99, 251, 201);
       padding: 10px 20px;}



 // FOLEIZIMI //  
      header {  
            nav { background-color: rgb(251, 238, 222);
                  ul {
                  padding: 10px 50px;
                  margin: 0;
                  display: flex;
                  justify-content: space-around; 
                  list-style-type: none;  
                  }
                  li {font-style: italic;}
                  a {font-size: 20px;
                  color: black;
                  transition: all 0.5s ease-in;
                  &:hover  {background-color: rgb(99, 246, 251);}
                  }
            }}


 // PARTIALS //
      @import 'Partials';
       header {background-color: $bg;}



 // MODULET //
      @import 'Mixins';
        .card {@include card(20px, 1px, 15px)}  
        
        li {@include card(10px, 1px, 10px)}



// MODULET //
       
// TRASHEGIMIA - inheritanca //
      %alert {border: 1px solid;
              padding: 10px;
              margin-bottom: 15px;
              border-radius: 6px;
              font-size: 11px; }

      .alert {@extend %alert} 
      
      .alert-primary {border-color: rgb(156, 196, 254);
                      background-color: rgb(207, 226, 255);
                      color: rgb(49, 74, 201); } 

      .alert-secondary {border-color: rgb(273, 240, 242);
                        background-color: rgb(248, 249, 250);
                        color: rgb(153, 134, 141); }                 
      

          // ose me MIXING // 
/* 
          @mixin composeAlert ($b, $bc, $c)
                     {border-color: $b;
                      background-color: $bc;
                      color: $c;  } */

                      
            @import 'Mixins';
            
            .alert-success {@include composeAlert ( rgb(169, 210, 191), rgb(209, 231, 221), rgb(56, 131, 96))}  
            
            .alert-danger {@include composeAlert (rgb(241, 173, 180), rgb(248, 215, 218), rgb(179, 50, 62))}


/*       .alert-success { 
                      border-color: rgb(169, 210, 191);
                      background-color: rgb(209, 231, 221);
                      color: rgb(56, 131, 96);  
                       }        */                    
                         
/*       .alert-danger {border-color: rgb(241, 173, 180);
                      background-color: rgb(248, 215, 218);
                      color: rgb(179, 50, 62); }                       
 */