@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,400&display=swap'); 

// VARIABLAT //
$primary-color: rgb(90, 89, 89);
$font:  'Open Sans', sans-serif;

body {color: $primary-color;
      font-family: $font;}


    
// OPERATORET //
$container: 960px;

.container {width: $container + 4px + 40px;
            border: 2px solid rgb(243, 113, 113); /* 2+2=4 px */
            padding: 0px 20px; /* 20+20=40 */
            background-color: aquamarine;}

.half {width: $container / 2;
       background-color: rgb(99, 251, 201);
       padding: 10px 20px;}




// FOLEIZIMI //   

header {
      nav { background-color: bisque;}
}

/* header {    img {}

            nav { background-color:bisque;
            ul {padding: 0;
                margin: 0;
                display: flex;
                justify-content: space-around;}
            li {}
            a {}}
  
} */





